body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    /*fill: none;*/
    /*stroke: steelblue;*/
    stroke-width: 2px;
}

.grid path {
    stroke: none;
  }
  
  .grid line {
    stroke: #E0E0E0;
    shape-rendering: crispEdges;
  }